<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
<title>	Create Title</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
<div class="text-center">
	<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="#">
	    <img src="/img/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
	    Charge
	  </a>
	</nav>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>