<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	   layout:decorator="LayoutDefault">

<section layout:fragment="RenderBody">
	<form class="form-horizontal">
		<div id="list">
			<h2>Criar novo título</h2>
			<article>
				<label for = "description">Descrição</label>
				<input type="text" name="description" width= "428" maxlength="120" >
				<label for = "date" >Data</label>
				<input type="date">
				<label for="value">Valor</label>
				<input type="number">
				<label for="status" >Status</label>
				<select id="inputState" class="form-control">
        			<option selected>Pendente</option>
        			<option selected>Recebido</option>
      			</select>
				
				<a>Salvar</a>
			</article>
		</div>
	</form>
</section>
		
</html>