<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	   layout:decorator="LayoutDefault">

<section layout:fragment="RenderBody">
	
	<form class="card" method="POST" action="/title" th:object="${title}">
		
		<div class="alert alert-success" th:if="${!#strings.isEmpty(menssage)}">
			<button type="button" class="close" data-dismiss = "alert"></button>
			<span th:text="${menssage}"></span>
		</div>
		
		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			<div th:each="detailedError : ${#fields.detailedErrors()}">
				<span th:text="${detailedError.message}"></span>
			</div>
		</div>
		
		<div class="card card-body">
			<div class= "clearfix">
				<h2 class="card-title aw-titulo-card">Novo titulo</h2>
			</div>
		</div>
		<div class="card card-body">
			<input type="hidden"/>
			
			<div class="form-group row" >
				<label for="description" class="col-sm-2 control-label">Descrição</label>
				<div class="col-sm-4">
					<input type="text" class="form-control"  name="description" placeholder="ex: Ap 23B " th:field="*{description}"
							th:classappend="${#fields.hasErrors('description')} ? is-invalid">
				</div>
			</div>
			
			<div class="form-group row" >
				<label for="dueDate" class="col-sm-2 control-label">Data de Vencimento</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="dueDate" name="dueDate" placeholder="ex: 28/02/2000 " 
						th:field="*{dueDate}"  th:classappend="${#fields.hasErrors('dueDate')} ? is-invalid">
				</div>
			</div>
			
			<div class="form-group row" >
				<label for="value" class="col-sm-2 control-label" >Valor</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="value" name="value" placeholder="ex: R$ 00,00.00" th:field="*{value}" 
						th:classappend="${#fields.hasErrors('value')} ? is-invalid" >
				</div>
			</div>
			<div class="form-group row">
				<label for="states" class="col-sm-2 control-label">Status</label>
				<div class="col-sm-2">
					<select class="form-control" id="states" name="states" >
						<option th:each="states : ${allStates}" 
								th:value="${states}" th:text = "${states.description}"></option>
					</select>
				</div>
					
			</div>
			<div class="form-group">
				<div class="col-sm-offset-6 col-sm-5">
					<button type="submit" id="button">Salvar</button>
			    </div>
			</div>
		</div>
	</form>
</section>
		
</html>