<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	   layout:decorator="LayoutDefault">

<section layout:fragment="RenderBody">
	
	<div class="card">
		<div class="card-header ">
			<h1>Pesquisa de títulos</h1>
			<a id="link" class="btn btn-link" href="/title/create">Criar novo título</a>
	</div>

	<div class="card-body">
		
		<form  method="GET" class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-4">
					<div class="input-group">
						<input class="form-control" placeholder="Buscar..." autofocus="autofocus" name="descricao">
						<span class="input-group-btn" >
							<button type="submit" class="btn btn-default"><img src="img/icons8-pesquisar-50.png" width="30" height="30"/></button>
						</span>
					</div>
				</div>
			</div>
		</form>
		
		<table class="table table-bordered table-striped">
			<tr>
				<th class="text-center">#</th>
				<th>Descrição</th>
				<th class="text-center">Data de Vencimento</th>
				<th class="text-center ">Valor</th>
				<th class="text-center ">Status</th>
				<th>Ações</th>

				</tr>

				<tbody>
					<tr th:each="titles : ${titles}">
						<td class="text-center" th:text="${titles.code}"></td>
						<td th:text="${titles.description}"></td>
						<td class="text-center" th:text="${{titles.dueDate}}"></td>
						<td class="text-center" th:text="|R$ ${{titles.value}}|"></td>
						<td class="text-center" th:text="${titles.states.description}"></td>
						<td>
						<a><img src="/img/icons8-editar-propriedade-32.png" /></a>
						<a></a>
						<a><img src="/img/icons8-excluir-32.png" /></a>
						</td>
				 	</tr>
				 	<tr>
				 		<td colspan="6" th:if="${#lists.isEmpty(titles)}">Nenhum título foi encontrado</td>
				 	</tr>

				</tbody>

			</table>

		</div>
		
	</div>
	
	
	
	
</section>